.table-wrapper {
padding-top: 100px;
}
.table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  border-collapse: collapse;
  width: 70%;
}
th,td {
  text-align: center;
  border: 1px solid black;
}
.form {
  border-radius: 5px;
  padding: 2rem;
  background-color: aliceblue;
  width: 25rem;
}
 /* .model-wrapper {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 100px;
 } */
 label {
  width: 100px;
  text-align: left;
  padding-right: 10px;
  
 }
 /* input  {
  padding-right: 70px;
 } */